/* Login.css */
body {
  background-color: #f8f9fa;
}

.container-fluid {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

.row {
  height: 100vh;
}

.col-lg-6 {
  padding: 2rem;
  border-radius: 8px;
}

form .form-control {
  border-radius: 0.25rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form .btn-primary {
  background-color: #2575fc;
  border: none;
}

form .btn-primary:hover {
  background-color: #1d63d8;
}

.text-primary {
  color: #2575fc;
}

/* Estilo para la columna derecha */
.col-md-6.bg-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Texto en blanco */
  text-align: center; /* Centra el texto */
  padding: 2rem;
  border-radius: 0 8px 8px 0; /* Bordes redondeados a la derecha */
}

/* Estilo del título y descripción */
.col-md-6.bg-primary h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.col-md-6.bg-primary p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}


.login-logo {
  max-width: 220px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}