.sidebar {
  width: 60px;
  background-color: #000;
  color: #fff;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.sidebar.open {
  width: 200px;
}

.menu-toggle {
  margin: 10px 0;
  cursor: pointer;
}

.logo-container {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-info {
  color: white;
  text-align: center;
  margin-top: 5px;
}

.icon-list {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0; /* Reduce padding para hacer el botón más pequeño */
  height: 35px; /* Ajusta la altura del botón */
  margin: 2px 0; /* Reduce el margen entre los botones */
  cursor: pointer;
  transition: background 0.3s;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  transition: color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link span {
  margin-left: 8px; /* Ajuste del espacio entre ícono y texto */
  display: none;
}

.sidebar.open .nav-link span {
  display: inline;
}

.logout-item {
  margin-top: auto;
  margin-bottom: 10px;
}
