/* Evitar que la imagen pase sobre la barra superior */
.top-bar {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Asegura que la barra esté sobre la imagen */
    background-color: white;
  }
  
  /* Contenedor de la imagen */
  .profile-container {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    position: relative;
  }
  
  /* Ajuste del tamaño de la imagen */
  .img-mask,
  .img-mask-sm {
    position: relative;
    z-index: 1;
    max-width: 100%;
    overflow: hidden;
  }
  
  .rounded-img,
  .rounded-img-sm {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
  }
  